.fixed-table-body
{
    overflow: auto;

    height: 100%;
}
#daily-feed .name
{
    font-weight: 500;

    cursor: pointer;
    text-decoration: none;

    color: #616161;
}
#daily-feed .content
{
    margin-top: 10px;
    margin-bottom: 0;
}
#tickets .hightlight
{
    font-weight: 500;

    cursor: pointer;
    text-decoration: none;

    color: #616161;
}
#projects .table > tbody > tr > td,
#projects .table > thead > tr > th
{
    vertical-align: middle;
}
